body {
  background: #d8d6d8 url(../../../img/bkg-pat.png);
  min-width: 320px;
  font-family: 'Lato', arial, sans-serif;
  color: #444444;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

