article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

html, body {
  min-height: 100%;
  height: 100%;
  overflow: visible; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  outline: 0; }

/*overwrite the width of .fa in the  font-awesome */
.fa-lg {
  width: 15px; }

body {
  background: #d8d6d8 url(../../../img/bkg-pat.png);
  min-width: 320px;
  font-family: 'Lato', arial, sans-serif;
  color: #444444;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.g-body {
  background-color: #404040;
  min-height: 720px; }

.m-page-error {
  height: 100%;
  background: url(../../../img/page-error.png);
  background-size: 100% 100%; }
  .m-page-error h1 {
    font-size: 130px;
    margin-top: 150px; }
  .m-page-error h2 {
    margin-top: 10px;
    margin-bottom: 400px; }

.j-show {
  display: block; }

.j-hide {
  display: none; }

.login-wrapper {
  background-image: url("/img/login-bg.png");
  background-size: 100% 100%;
  height: inherit; }

.login-form {
  position: relative;
  top: 50%;
  margin-top: -300px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); }
  .login-form a {
    color: #1ab188;
    transition: .5s ease; }
    .login-form a:hover {
      color: #179b77; }
  .login-form h1 {
    text-align: center;
    color: #ffffff;
    margin: 0 0 40px; }
  .login-form input, .login-form textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease; }
    .login-form input:focus, .login-form textarea:focus {
      outline: 0;
      border-color: #1ab188; }
  .login-form input[type=checkbox] {
    width: auto;
    height: auto;
    display: inline-block; }
  .login-form textarea {
    border: 2px solid #a0b3b0;
    resize: vertical; }

.login-form-left {
  background: url("/img/form-left-bg.png") no-repeat;
  background-size: 100% 100%;
  height: 600px; }
  .login-form-left > p {
    color: #fff;
    font-size: 50px;
    margin-top: 40px;
    text-align: center;
    background-color: rgba(160, 179, 176, 0.5);
    margin-left: -15px; }

.login-form-right {
  background: rgba(19, 35, 47, 0.9);
  padding-top: 40px;
  height: 600px; }
  .login-form-right .field-wrap {
    position: relative;
    margin-bottom: 40px; }
  .login-form-right .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none; }
    .login-form-right .button:hover, .login-form-right .button:focus {
      background: #179b77; }
  .login-form-right .button-block {
    display: block;
    width: 100%; }
  .login-form-right label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px; }
    .login-form-right label .req {
      margin: 2px;
      color: #1ab188; }
  .login-form-right label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px; }
    .login-form-right label.active .req {
      opacity: 0; }
  .login-form-right label.highlight {
    color: #ffffff; }

.login-form-left-info {
  clear: both;
  color: #fff;
  margin-top: 100px;
  line-height: 1.5; }
  .login-form-left-info p:nth-child(1) {
    font-size: 24px;
    font-weight: bold; }
  .login-form-left-info p:nth-child(2) {
    font-size: 20px;
    margin-top: 20px; }
  .login-form-left-info p:nth-child(3) {
    color: #a0b3b0;
    margin-top: 50px; }

.login-tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0; }
  .login-tab-group:after {
    content: "";
    display: table;
    clear: both; }
  .login-tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease; }
    .login-tab-group li a:hover {
      background: #179b77;
      color: #ffffff; }
  .login-tab-group .active a {
    background: #1ab188;
    color: #ffffff; }

.login-tab-content .top-row:after {
  content: "";
  display: table;
  clear: both; }
.login-tab-content .top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%; }
  .login-tab-content .top-row > div:last-child {
    margin: 0; }

.rememberMe {
  color: #fff; }
  .rememberMe input {
    position: relative;
    top: 1px;
    display: inline-block;
    margin-right: 10px; }

.forgot {
  margin-top: -20px;
  text-align: right; }

/*# sourceMappingURL=main.css.map */
