<!-- header -->
<div id="header" class="navbar">
    <div class="navbar-inner">
        <!-- company or app name -->
        <a class="brand hidden-phone" href="index.html">Kuta Admin 2.0.2</a>

        <!-- nav icons -->
        <ul class="nav">

            <li class="visible-phone">
                <a href="#"><i class="icon-large icon-search"></i></a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-globe"></i>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-envelope-o"></i>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-cogs"></i>
                </a>
            </li>

        </ul>

        <ul class="nav pull-right">

            <!-- dropdown user account -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-large icon-user"></i>
                </a>

                <ul class="dropdown-menu dropdown-user-account">

                    <li class="account-img-container">
                        <img class="thumb account-img" src="library/images/100/07.png" />
                    </li>

                    <li class="account-info">
                        <h3>Geunevere Calista</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>
                            <a href="#">Edit</a> | <a href="#">Account Settings</a>
                        </p>
                    </li>

                    <li class="account-footer">
                        <div class="row-fluid">

                            <div class="span8">
                                <a class="btn btn-small btn-primary btn-flat" href="#">Change avatar</a>
                            </div>

                            <div class="span4 align-right">
                                <a class="btn btn-small btn-danger btn-flat" href="#">Logout</a>
                            </div>

                        </div>
                    </li>

                </ul>
            </li>
            <!-- ./ dropdown user account -->
        </ul>

        <!-- search form -->
        <form class="navbar-search pull-right hidden-phone" action="" />
        <input type="text" class="search-query span4" placeholder="search..." />
        </form>
        <!-- ./ search form -->
    </div>
</div>
<!-- end header -->