<!-- 登录页面 -->

<div class="wrapper">
    <div class="logo">
        <h1>LOGIN PAGE</h1>
    </div>
    <div class="lg-body">
        <div class="inner">
            <div id="lg-head">
                <p><span class="font-bold">Adminity</span>: Please login to access the control panel.</p>
                <div class="separator"></div>
            </div>
            <div class="login">
                <form id="lg-form" method="post" action="dashboard.html">
                    <fieldset>
                        <ul>
                            <li id="usr-field">
                                <input class="input required" name="name" type="text" size="26" minlength ="1" placeholder="Username..." />
                            </li>
                            <li id="psw-field">
                                <input class="input required" name="pass" type="password" size="26" minlength="1" placeholder="Password..." />
                            </li>
                            <li class="checkbox">
                                <input class="checkbox" type="checkbox" id="remember-me" value="remember" />
                                <label for="remember-me" class="checkbox-text">Remeber Me</label>
                            </li>
                            <li>
                                <input class="submit" type="submit" value=""/>
                            </li>
                        </ul>
                    </fieldset>
                </form>
          <span id="lost-psw">
           <a href="#">I forgot my password</a>
          </span>
            </div>
        </div>
    </div>
</div>