<div class="row blur">
<div class="form col-md-10 col-md-offset-1" ng-controller="LoginCtrl">
    <div class="row" >

        <div class="form-left col-md-6 ">
            <p style="color:#fff;font-size: 50px;margin-top: 40px;text-align:center; background-color: rgba(160,179,176,0.5);margin-left:-15px" class="col-md-4">

                FEPP
            </p>
            <div class="col-md-9 col-md-offset-2" style="clear:both;color:#fff;margin-top: 100px;">
                <p style="line-height: 3;font-size:22px;">前端性能与异常监控平台</p>
                <p style="line-height: 1.5;font-size:22px;">为了解决前端性能瓶颈、<br/>提高系统稳定性问题。<br/>为系统前端优化提供参考数据。</p>
                <p style="color:#8c9492">系统开发与维护：</p>
                <p><a href="">@Tommy-feng</a></p>
            </div>

        </div>
        <div class="form-right col-md-6" >
            <ul class="tab-group">
                <li class="tab" ng-class="{'true':'','false':'active'}[isActive]"><a href="javascript:void(0)" ng-click="changeOpt($event)">注册</a></li>
                <li class="tab" ng-class="{'true':'active','false':''}[isActive]"><a href="javascript:void(0)" ng-click="changeOpt($event)">登录</a></li>
            </ul>

            <div class="tab-content">
                <div id="signup" ng-class="{'true':'j-hide','false':'j-show'}[isActive]">
                    <h1>欢迎您注册！</h1>

                    <form action="/">
                        <div class="top-row">
                            <div class="field-wrap">
                                <label for="firstName" ng-class="{'0':'','1':'active','2':'active highlight'}[firstName]">
                                    姓 <span class="req">*</span>
                                </label>
                                <input type="text"
                                       required autocomplete="off"
                                       ng-model="user.firstName"
                                       ng-keyup="toggleClass('firstName', $event)"
                                       ng-blur="toggleClass('firstName', $event)"/>
                            </div>
                            <div class="field-wrap">
                                <label for="lastName" ng-class="{'0':'','1':'active','2':'active highlight'}[lastName]">
                                    名字 <span class="req">*</span>
                                </label>
                                <input type="text"
                                       required autocomplete="off"
                                       ng-model="user.lastName"
                                       ng-keyup="toggleClass('lastName', $event)"
                                       ng-blur="toggleClass('lastName', $event)"/>
                            </div>
                        </div>

                        <div class="field-wrap">
                            <label for="email" ng-class="{'0':'','1':'active','2':'active highlight'}[newMail]">
                                电子邮件 <span class="req">*</span>
                            </label>
                            <input type="email"
                                   required autocomplete="off"
                                   ng-model="user.email"
                                   ng-keyup="toggleClass('newMail', $event)"
                                   ng-blur="toggleClass('newMail', $event)" />
                        </div>

                        <div class="field-wrap">
                            <label for="password" ng-class="{'0':'','1':'active','2':'active highlight'}[newPassword]">
                                密码 <span class="req">*</span>
                            </label>
                            <input type="password"
                                   required autocomplete="off"
                                   ng-model="user.password"
                                   ng-keyup="toggleClass('newPassword', $event)"
                                   ng-blur="toggleClass('newPassword', $event)" />
                        </div>

                        <div class="field-wrap">
                            <label for="password" ng-class="{'0':'','1':'active','2':'active highlight'}[newRepassword]">
                                确认密码 <span class="req">*</span>
                            </label>
                            <input type="password"
                                   required autocomplete="off"
                                   ng-model="user.pass2"
                                   ng-keyup="toggleClass('newRepassword', $event)"
                                   ng-blur="toggleClass('newRepassword', $event)"/>
                        </div>

                        <button type="button" class="button button-block" ng-click="signup()">开始体验</button>
                    </form>
                </div>

                <div id="signin" ng-class="{'true':'j-show','false':'j-hide'}[isActive]">
                    <h1>请您登录！</h1>

                    <form action="">
                        <div class="field-wrap">
                            <label for="email" ng-class="{'0':'','1':'active','2':'active highlight'}[mail]">
                                邮箱 <span class="req">*</span>
                            </label>
                            <input type="text"
                                   required autocomplete="off"
                                   ng-model="user.email"
                                   ng-keyup="toggleClass('mail', $event)"
                                   ng-blur="toggleClass('mail', $event)"/>
                        </div>

                        <div class="field-wrap">
                            <label for="password" ng-class="{'0':'','1':'active','2':'active highlight'}[password]">
                                密码 <span class="req">*</span>
                            </label>
                            <input type="password"
                                   required autocomplete="off"
                                   ng-model="user.password"
                                   ng-keyup="toggleClass('password', $event)"
                                   ng-blur="toggleClass('password', $event)"/>
                        </div>

                        <div class="field-wrap">
                            <label for="password" ng-class="{'0':'','1':'active','2':'active highlight'}[code]">
                                验证码 <span class="req">*</span>
                            </label>
                            <input type="text"
                                   required autocomplete="off"
                                   ng-model="user.validateCode"
                                   ng-keyup="toggleClass('code', $event)"
                                   ng-blur="toggleClass('code', $event)"/>
                        </div>

                        <div class="field-wrap rememberMe">
                            <input type="checkbox" />
                            <span>记住我</span>
                        </div>


                        <p class="forgot">
                            <label id="login_error">{{signinMessage}}</label>
                            <a href="#">忘记密码？</a>
                        </p>

                        <button type="button" class="button button-block" ng-click="signin()">登录</button>
                    </form>
                </div>
            </div> <!-- tab-content -->
        </div>
    </div>

</div>
</div>